.card {
  border: 1px solid #334155; /* Soft border */
  border-radius: 16px; /* Smooth rounded corners */
  padding: 30px;
  background-color: #0f172a;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  width: 40%;
  margin-right: 20px;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-6px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}

.section {
  display: flex;
  margin-left: 200px;
}
.header {
  margin-left: 200px;
  margin-top: 30px;
}
