.container {
  animation: 1.5s fadeInUp;
}
.card {
  border: 1px solid #334155; /* Soft border */
  border-radius: 16px; /* Smooth rounded corners */
  padding: 20px;

  transition: all 0.3s ease;
  width: 60%;
  height: 40%;
  display: flex;
  line-height: 2.5;
  animation: 1.5s fadeInUp;
  margin-top: 50px;
  background:
    radial-gradient(
      circle at top left,
      rgba(88, 28, 135, 0.55) 0%,
      /* dark purple */ transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(126, 34, 206, 0.3) 0%,
      /* purple */ transparent 50%
    ),
    var(--background-color);
}
.card {
  margin: auto;
}
.cards {
  margin: auto;
}
.paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  animation: 1.5s fadeInUp;
}
.lines {
  animation: gather 2s ease-out forwards;
}
.headers {
  margin-bottom: 50px;
  text-align: center;
  animation: 1.5s fadeInUp;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes gather {
  to {
    transform: translateX(0);
  }
}
.image {
  height: 150px;
  animation: 1.5s fadeInUp;
}
/* Hover Effect */
.card:hover {
  transform: translateY(-6px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}

.section {
  animation: 1.5s fadeInUp;
}
.header {
  text-align: center;
  margin-top: 30px;
  animation: 1.5s fadeInUp;
}
.cards {
  margin-top: 50px;
  display: flex;
  animation: 1.5s fadeInUp;
  line-height: 2;
  align-items: center;
  justify-content: center;
}
.techstack {
  margin-left: 50px;
}

ul {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .card {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
  }
  .headers {
    text-align: left;
  }
  .image {
    margin: auto;
  }
}
