.card {
  border: 1px solid #334155; /* Soft border */
  border-radius: 16px; /* Smooth rounded corners */
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  width: 60%;
  height: 40%;

  display: flex;
  line-height: 2.5;
  animation: 1.5s fadeInUp;
  margin-top: 50px;
}
.card {
  margin: auto;
}
.cards {
  margin: auto;
}
.paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.headers {
  margin-bottom: 50px;
  text-align: center;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.image {
  height: 150px;
  animation: 1.5s fadeInUp;
}
/* Hover Effect */
.card:hover {
  transform: translateY(-6px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}

.section {
  animation: 1.5s fadeInUp;
}
.header {
  text-align: center;
  margin-top: 30px;
  animation: 1.5s fadeInUp;
}
.cards {
  margin-top: 50px;
  display: flex;
  animation: 1.5s fadeInUp;
  line-height: 2;
  align-items: center;
  justify-content: center;
}
.techstack {
  margin-left: 50px;
}

ul {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .card {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr;
  }
}
