.contactSection {
  text-align: center;
  margin-top: 50px;
  box-shadow: 5px 10px 15px rgba(227, 185, 185, 0.3);
  margin-left: 0;
  width: 50%;
  height: 450px;
  background-color: white;
}

.profile {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 10px 15px rgba(227, 185, 185, 0.3);
  width: 40%;
  height: 450px;
  flex: 1; /* Equal width columns */
  padding: 20px;
  background-color: white;
}
.customBtn {
  padding: 8px;
  width: 40%;
}
.contact input {
  margin-bottom: 20px;
}
.contact label {
  margin-right: 20px;
}

.container {
  display: flex;
  gap: 20px;
}
.box {
  height: 70px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 400px;
  margin-left: 50px;
  border: 2px #1e90ff solid;
  padding-top: 5px;
}
.header {
  font-size: 25px;
  margin-left: 200px;
}
.connect {
  margin-right: 100px;
  margin-bottom: 20px;
}
.icons {
  margin-right: 20px;
}

.formfield {
  display: flex;
  margin-left: 110px;
  margin-bottom: 20px;
}
.contact input {
  width: 50%;
}
.contactHeader {
  margin-top: 20px;
}
