.contactSection {
  text-align: center;
  color: black;
  margin-top: 50px;

  box-shadow: 5px 10px 15px rgba(227, 185, 185, 0.3);
  margin-left: 0;
  width: 50%;
  height: 450px;
}

.profile {
  text-align: center;
  color: black;
  margin: auto;
  margin-top: 50px;
  box-shadow: 5px 10px 15px rgba(227, 185, 185, 0.3);
  width: 40%;
  height: 450px;
  flex: 1; /* Equal width columns */
  padding: 20px;
}
.customBtn {
  padding: 8px;
  width: 40%;

  background-color: orangered;
  color: white;
  border: 1px orangered;
}
.contact input {
  margin-bottom: 20px;
}
.contact label {
  margin-right: 20px;
}

.container {
  display: flex; /* Turns the container into a flexbox layout */
  gap: 20px; /* Adds 20px space between flex items (both row & column gaps) */
}
.box {
  border: 2px orangered solid;
  height: 70px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 400px;
  margin-left: 50px;
}
.header {
  font-size: 25px;
  color: black;
  margin-left: 200px;
}
.connect {
  margin-right: 100px;
  margin-bottom: 20px;
}
.icons {
  margin-right: 20px;
}

.formfield {
  display: flex;
  margin-left: 110px;
  margin-bottom: 20px;
}
.contact input {
  width: 50%;
}
.contactHeader {
  margin-top: 20px;
}
