.homeSection {
  padding: 25px;
  border-radius: 8px;
  line-height: 2;
}
.header {
  margin-top: 20px;
  animation: 1.5s fadeInUp;
}
.paragraph {
  word-break: break-all;
  font-size: 14px;

  animation: 1.5s fadeInUp;
}
.paragraphs {
  animation: 1.5s fadeInUp;
}
body {
  font-family: Inter;
}
.homeSection p {
  animation: 1.5s fadeInUp;
}
.homeSection:hover {
  transform: translateY(-6px);
  border-color: #3b82f6; /* Accent border */
}
.comunicationContainer {
  margin-left: auto;
}
.comunication {
  margin-left: 10%;

  color: white;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.customBtn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.customBtn {
  width: 40%;
  margin-right: 3%;
  margin-bottom: 20px;
  background: linear-gradient(to right, #a855f7, #3b82f6);
  color: aliceblue;
  border: none;
  font-size: 14px;
}
.handicon {
  color: yellow;
  margin-bottom: 0;
}
.button {
  margin-top: 20px;
  /* margin-left: 20px; */
  animation: 1.5s fadeInUp;
}
.lines {
  font-size: 12px;
  animation: 1.5s fadeInUp;
}

@media only screen and (max-width: 600px) {
  .homeSection {
    line-height: 2;
  }

  .customBtn {
    width: 100%;
    margin-top: auto;
    background-color: #475569;
  }
  .lines {
    line-height: 2.3;
  }
  .homeSection {
    padding: auto;
  }
}
