.container {
  /* padding: 30px; */
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid #334155;
  border-radius: 10px;
  background:
    radial-gradient(
      circle at top left,
      rgba(88, 28, 135, 0.55) 0%,
      /* dark purple */ transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(126, 34, 206, 0.3) 0%,
      /* purple */ transparent 50%
    ),
    var(--background-color);
}
.container:hover {
  transform: translateY(-2px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}
.container::before {
  content: "";

  position: absolute;

  width: 320px;
  height: 320px;

  background: rgba(168, 85, 247, 0.18);

  filter: blur(120px);

  border-radius: 50%;

  top: -100px;
  left: -100px;

  z-index: 0;
}
.buttonContainer {
  display: flex;
  gap: 10px;
}

.container::after {
  content: "";

  position: absolute;

  /* width: 320px;
  height: 320px; */

  background: rgba(168, 85, 247, 0.18);

  filter: blur(120px);

  border-radius: 50%;

  bottom: -100px;
  right: -100px;

  z-index: 0;
}

.description {
  font-size: 14px;
}
.tech {
  font-size: 14px;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.image {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin-top: 5%;
  animation: 1.5s fadeInUp;
}

.customBtn {
  width: 40%;
  margin-right: 3%;
  margin-bottom: 20px;
  background: linear-gradient(to right, #a855f7, #3b82f6);
  color: aliceblue;
  border: none;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.header {
  margin-bottom: 5%;
  animation: 1.5s fadeInUp;
}
.description {
  margin-top: 5%;
  animation: 1.5s fadeInUp;
}
