.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.image {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin-top: 5%;
}
.custombtn {
  padding: 20px;
  gap: 10px;
  display: flex;
}
.header {
  margin-bottom: 5%;
}
.description {
  margin-top: 5%;
}
