.container {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr;
  margin-top: 20px;
  gap: 40px;
  width: 80%;
  padding: 20px;
  height: 100%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.08);
  border-color: 1px rgba(59, 130, 246, 0.5);
}
.container:hover {
  transform: translateY(-8px);

  border-color: rgba(59, 130, 246, 0.5);
}
.header {
  text-align: center;
  margin: 30px;
  animation: 1.5s fadeInUp;
}
.container::before {
  content: "";

  position: absolute;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.08);
  width: 320px;
  height: 320px;

  background: rgba(168, 85, 247, 0.18);

  filter: blur(120px);

  border-radius: 50%;

  top: -100px;
  left: -100px;

  z-index: 0;
}

.container::after {
  content: "";

  position: absolute;

  width: 320px;
  height: 320px;

  background: rgba(59, 130, 246, 0.15);

  filter: blur(120px);

  border-radius: 50%;

  bottom: -100px;
  right: -100px;

  z-index: 0;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* KEEP CONTENT ABOVE GLOW */

.container > * {
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* HOVER EFFECT */
