.containerSection {
  margin-top: 20px;
  animation: 1.5s fadeInUp;
}
.container {
  display: flex;
  animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
.icons {
  background: #581c87;
  animation: moveLeftRight 4s ease-in-out infinite;
  width: 25%;
  height: 120px;
  /* animation: 1.5s fadeInUp; */
  font-size: 30px;
  color: "1E90FF";
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 3px;
  border-radius: 5px;
  display: flex;
  font-size: 25px;
  align-items: center;
  place-items: center;
  background:
    radial-gradient(
      circle at top left,
      rgba(88, 28, 135, 0.55) 0%,
      /* dark purple */ transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(126, 34, 206, 0.3) 0%,
      /* purple */ transparent 50%
    ),
    var(--background-color);
  border: 1px solid #334155;
}
.icons:hover {
  transform: translateY(-2px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}
.header {
  text-align: center;
  animation: 1.5s fadeInUp;
}
.headers {
  text-align: center;
  animation: 1.5s fadeInUp;
}
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    /* Creates two columns of equal width */
    grid-template-columns: 1fr; /* Stacks to 1 column */
    margin-left: 30px;
  }
  .icons {
    width: 100%;
    margin: auto;
  }

  .headers {
    margin-left: 50px;

    white-space: normal;
    word-wrap: break-word;
  }
}
