.switch {
  position: relative;
  display: inline-block;
}

.theme {
  display: flex;
  justify-content: flex-end;
}

/* Hide checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  width: 2.5em;
  height: 1.4em;

  position: absolute;
  cursor: pointer;

  background-color: #475569;

  border-radius: 50px;

  transition: all 0.3s ease;
}

/* Circle */
.slider:before {
  position: absolute;
  content: "";

  height: 1em;
  width: 1em;

  left: 0.2em;
  bottom: 0.2em;

  background-color: white;

  border-radius: 50%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease;
}

/* Active state */
.switch input:checked + .slider {
  background: linear-gradient(to right, #a855f7, #3b82f6);
}

/* Move circle */
.switch input:checked + .slider:before {
  transform: translateX(1.1em);
}
