.container {
  display: flex; /* Enable flexbox */
  gap: 20px; /* Space between columns */
}

.column {
  flex: 1; /* Equal width columns */
  padding: 20px;
}
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
}
