:root {
  --background-color: white;
  --text-color: black;
  --label-color: black;
}

[data-theme="dark"] {
  --background-color: #242424;
  --text-color: white;
  --label-color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.containers {
  display: flex;
  gap: 40px;
}
.container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 20px;
}
.themeToggle {
  display: inline-block;
}
