:root {
  --background-color: white;
  --text-color: black;
  --label-color: black;
}

[data-theme="dark"] {
  --background-color: #242424;
  --text-color: white;
  --label-color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.container:hover {
  transform: translateY(-6px);
  border-color: #3b82f6; /* Accent border */
  box-shadow: 0 15px 40px rgba(59, 130, 246, 0.25);
}
.container {
  margin-top: 50px;
  margin-left: 130px;
  position: relative;
  /* place-items: center; */
  height: 90vh;
  width: 80%;

  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.icons {
  margin-right: 20px;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 50px;
}
