.image {
  width: 170px;
  margin-top: 20px;
  margin-left: 20px;
  height: 170px;
  border-radius: 50%;
  animation: 1.5s fadeInUp;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
