.iconsContainer {
  margin: 40px;
  text-align: center;
  cursor: pointer;
}
.icons {
  margin-right: 35px;
  font-size: 18px;
  font-weight: 600;
}
.customBtn {
  width: 10%;

  color: white;
}
.customBtn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
